{% extends 'layout.twig' %}
{% block content %}
<header>
    {{ include('layout/header.twig') }}
</header>
    <form class="offset-2 align-items-center" method="POST">
            <div class="control-group">
                <label class="control-label" for="name">nom</label>
                <div class="controls">
                    <input type="text" required id="user_name" name="name" value="{{ user.name }}" class="input-xlarge">
                </div>

            <div class="control-group">
                <!-- Lastname -->
                <label class="control-label" for="lastname">Prénom</label>
                <div class="controls">
                    <input type="text" required id="lastname" name="lastname" value="{{ user.lastname }}" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password"  id="password"  name="password" class="input-xlarge">
                </div>
            </div>
            <div class="control-group">
                <!-- Answer -->
                <label class="control-label" for="question">Question</label>
                <div class="controls">
                    <select id="question" name="question" class="input-xlarge">
                        <option value="Quelle etait votre surnom enfant ?">Quelle etait votre surnom enfant ?</option>
                        <option value="Quelle est le nom de votre mére ?">Quelle est le nom de votre mére ?</option>
                        <option value="Dans quelle ville etes vous né ?">Dans quelle ville etes vous né ?</option>
                    </select>
                </div>
                <div class="control-group">
                    <!-- Answer-->
                    <label class="control-label" for="answer">Réponse</label>
                    <div class="controls">
                        <textarea required class="input-xlarge" name="answer">{{ user.answer }}</textarea>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">Register</button>
                </div>
                <p class="lead p-3">
                    <a href="index.php?access=disconnect">déconnection</a>
                </p>
                <div class="col-12">
                    <h2 class="text-center">{{ message }}</h2>
                </div>
            </div>
    </form>
{% endblock %}